@media only screen and (min-width: 320px) and (max-width: 480px) {
    
    /* Header Logo */
    .header-logo {
        display: none;
    }

    .header-right {
        /* display: none; */
    }

    .content-body{
        padding-top: 0px !important;
        /* padding: 0px !important; */
    }

    .custom-cart-container-fluid{
        margin-top: 32px;
    }

    .custom-cart-box {
        /* height: 100vh; */
        margin-top: 29px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .cart-main-card{
        padding: 5px 5px;
    }

    .btn_minus {
        font-size: 0.9rem;
        padding: 3.5px 12px;
    }

    .btn_qty {
        font-size: 0.9rem;
        padding: 3.5px 12px;
    }

    .btn_plus {
        font-size: 0.9rem;
        padding: 3.5px 12px;
    }

    .cart-collapse-btn{
        padding:2px 8px;
    }

    .position-fixed{

    }

    /* 
    ################################
    # Cart Footer START
    ################################
    */
    .cart-footer-container-fluid{

    }

    .cart-footer-row{
        position: absolute;
        bottom: 0;
        overflow: ;
    }

    .cart-delivery-option div button{
        font-size: 1.5rem;
    }

    .button-inside{

    }

    .cart-total-parent{
        padding-left: 0;
        padding-right: 0;
        padding-top:9px;
    }

    .cart-total-strong {
        font-size: 1.5rem;
        font-weight: bold;
    }


    .cart-3{
        position: relative;
        height: 80vh;
    }
   
    /* 
    ################################
    # Cart Footer END
    ################################
    */


    /* 
    ################################
    # Sale Items Responsive Start  #
    ################################
    */

    .sale-items-8{
       
        height: 100vh;
    }
    .sale-item-container{
        height: 500px;
    }

    .saleItemsParent{
        grid-template-columns: repeat(3,1fr);
    }
    

    /* 
    ################################
    #  Sale Items Responsive End   #
    ################################
    */

    /* 
    ##############################
    # Sale Item Categories Start #
    ##############################
   */
    .saleCategories {
        display: none;
    }
    /* 
    ##############################
    #   Sale Item Categories 
    ##############################
   */

    /* Sale Item Actions */

    .sale-items-row{
        /* display: none; */
    }


    /* Sale Item Actions Start */
    .sale-actions-row{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /* .sale-actions-container-fluid{
        height:152px;
    } */
    
    .saleItemActions{

       display: inline-block;
       padding: 0px;
    }

    .saleItemActions a{
        display: inline-block;
        grid-auto-columns: auto;
        text-align: center;
    }

    /* #Buttons */
    .btn_order, .btn_clear_cart {
        width: 48.9%;
        float: left;
        margin-bottom: 2px;
        padding: 12px 0!important;
    }


    .btn_select_table, .btn_cart, .btn_order_menu {
        width: 33.333333%;
        float: left;
        margin-bottom: 2px;
        font-size: 0.7rem!important;
        padding-left: 0!important;
        padding-right: 0!important;
        text-align: center;
        padding: 10px 0!important;
    }


    .btn_waiter, .btn_active_order, .btn_invoice_order, .btn_print_order {
        width: 25%;
        float: left;
        /* margin-bottom: 2px; */
        font-size: 0.6rem!important;
        padding-left: 0!important;
        padding-right: 0!important;
        text-align: center;
        padding: 15px 0!important;
    }


    /* 
    ######################################################
    ############ Payment Page Responsive Start ###########
    ######################################################
    */
    .calculator-main-row {
        margin-top: 61px;
    }

    .payment-col7{

    }
    
    .payment-display-section {
        padding: 5px 10px;
        margin: 0;
    }

    .top-pay-card-left{

    }

    .calculator-main-row{
        justify-content : center;
    }

    .payment-col7{

    }

    .card-total{
        background-color: rgb(97,68,177);
    }

    .card-paid{
        background-color: #54b254;
    }

    .card-payable{
        background-color: rgb(214, 13, 13);
    }

    .display-total-amount{}
    .display-paid-amount{}
    .display-payable-amount{}


    .display-card-amount{}
    .display-cash-amount{}
    .discount-percentage-amount{}

    .display-card-amount, .display-cash-amount, .display-percentage-amount {
        margin-bottom: 0px;
        font-size: 1.4rem;
        font-weight: bold;
        background-color: rgb(27, 31, 50);
    }


    .bottom-pay-card{}

    .display-amount{}

    .display-4{

    }

    .p-display-text{

    }

    .p-display-text span{}
    /* 
    ######################################################
    ############  Payment Page Responsive  END ###########
    ######################################################
    */
    
}