@media only screen and (min-width: 481px) and (max-width: 768px) {

    :root {
        font-size: 75%;
    }

}

/*design for smartphones*/
@media only screen and (min-width: 769px) and (max-width:1024px) {
    :root {
        font-size: 84%;
    }

    .rms-content-body {
        padding: 0;
        margin-bottom: .1rem;
    }

    .payment-main-container {
        display: flex;
        justify-content: center;
        /* height: 10rem; */
        align-content: center;
    }

    .payment-content-area {
        display: grid;
        width: 80vw;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: .1rem;

    }

    .payment-main-container>.saleItemActions {
        right: 0;
    }


    .display-total-amount,
    .display-paid-amount,
    .display-payable-amount {
        font-size: 2.5rem;
    }

    .payment-type {
        font-size: 1.8rem;
        font-weight: 700;
    }


    .display-card-amount,
    .display-cash-amount,
    .display-percentage-amount {
        font-size: 1.7rem;
    }


    .display-card-amount,
    .display-cash-amount,
    .display-percentage-amount p {
        line-height: 1.5rem;
    }



    .payment-display-section {

        margin-right: 0;

    }

    .p-display-text {
        display: flex;
        flex-direction: column;

    }



    .p-display-text>span {
        font-weight: 650;
    }


    .top-pay-card-left {
        padding: 1rem .1rem;
        text-align: center;
        border-radius: 1rem;
        margin: 0;
    }

    .top-pay-card-left p {
        line-height: 3.5rem;
        font-weight: 600;
    }

    .top-pay-bottom {
        padding: 1rem .5rem;
        border-radius: 1rem;
    }

    .top-pay-bottom p {
        line-height: 2rem;
    }

    .top-pay-bottom .payment-type {
        font-size: 1.5rem;
    }


    /* payment calc section */
    .calculator-input-area {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .2rem;
        width: 100%;
    }

    .calc-text-box {
        grid-column: span 4;
    }

    .digit-area {
        grid-column: span 4;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .3rem;
        width: 100%;
    }

    .btn-digit {

        width: 100%;
        height: 10rem;
        font-size: 3.5rem;

        border-radius: .5rem;
    }

    .payment-input-right {
        grid-column: span 4;
        display: grid;
        grid-template-columns: repeat(2, 3.5fr) repeat(3, 1.5fr);
        gap: .2rem;
    }

    .cal-button-basic,
    .calc-text-field {
        color: #ffffff;
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        border-radius: .5rem;
        border: none;
        padding: 0;
        height: 7rem;
    }



    .calc-text-box::placeholder {
        color: #ffffff;
        font-size: 3.5rem;
        font-weight: 650;
        opacity: .75;

    }

    .calc-text-box:focus {

        opacity: 1;
    }


    .button-calc-right,
    .payment-input-right .cal-button-basic {
        width: auto;
        height: 5.5rem;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        border-radius: .5rem;
        border: none;
        padding: 0;
    }

    .btn-card,
    .btn-cash {
        width: 100%;
    }


    .pay_btn {
        grid-column: span 4;
        height: 7rem;
        width: 100%;
        background-color: var(--rms-violet3);
    }

    .pay-bg {
        font-weight: 650;
    }

    /* Sale Saving Actions */

    .saleItemActions {
        position: fixed;
        bottom: .1rem;
        right: 0;
        width: 100vw;
        grid-template-columns: repeat(12, 1fr);
        /* column-gap: .125rem; */
    }

    .button-actions {
        width: 100%;
        border-radius: .1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-actions a {
        font-size: 1.1rem;
        font-weight: 550;
        padding: 2rem 1.58rem;
        color: white;
        /* width: 100%; */
    }

    .btn_select_table {
        grid-column: span 4;
    }

    .btn_waiter {
        grid-column: span 4;
    }

    .btn_order {
        grid-column: span 4;
    }

    .btn_clear_cart {
        grid-column: span 3;
    }

    .btn_active_order {
        grid-column: span 3;
    }

    .btn_print_order {
        grid-column: span 3;
    }

    .btn_invoice_order {
        grid-column: span 3;
    }

    .pos-icon {
        height: 2.5rem;
        width: 2.5rem;
    }


}