@media only screen and (min-width: 1366px) and (max-width: 1599px) {

    /*  Sale Cart Sections */
    .cart-item-name{
        width: 35%;
    }

    .cart-footer-buttons {
        display: grid;
        grid-template-columns: 2fr 4fr 1.2fr;
        width: 91%;
    }

    .cart-total-parent {
        padding: 13px 0 0;
    }

    .cart-total-parent p {
        font-size: 1.5rem;
    }


    /* Sale Products Section  */
    .saleItemsParent{
        height: 486px;
    }

    .saleItemActions a{
        padding : 14px 0px;
    }

    /* Sale Categories Section */
    .saleCategories {
        height: 552px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
  }