    body {
        background-color: rgb(19, 20, 38);
    }

    .content-body {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    .content-left {
        background-color: rgb(27, 31, 50);
        border-radius: 8px 8px 0px 0px;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 2px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px transparent;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #047ca8;
    }



    .custom-cart-box {
        background-color: rgb(27, 30, 55) !important;
    }

    .saleCategories {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .saleCategories a {
        margin-bottom: 2px;
        border-radius: 14px;
        background-color: rgb(27, 31, 50);
        color: #fff;
        padding: 29px 5px;
        text-align: center;
        width: 100%;
        /* height: 16%; */
        font-size: 1.3rem;
        font-weight: 450;
    }

    .saleCategoryActive {
        background-color: rgb(49, 55, 84) !important;
    }

    .saleCategories a:hover {
        background-color: rgb(49, 55, 84);
    }

    /* Sale Items  */

    /* Sale Item Parents */


    .saleItemsParent,
    .orderBoxParent {
        overflow-y: scroll;
        padding: 5px;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        row-gap: 0px;
        height: 720px;
    }


    /* .saleItem {
            display: inline-block;
            background-color: #4b109f;
            margin: 1px;
            width: 12%;
            border-radius: 6px;
            padding: 10px 4px;
            cursor: pointer;
        } */

    .saleItem {
        background-color: rgb(52, 37, 115);
        margin: 1px;
        border-radius: 6px;
        padding: 10px 4px;
        cursor: pointer;
    }

    .saleItem p {
        text-align: center;
        color: #fff;
    }

    .itemClearFix {
        display: block;
        height: 18px;
        width: 100%;
    }

    .categoryPrice {
        width: 100%;
        padding: 0 9px;
    }

    .categoryPrice strong {
        color: #ffffffcf;
        font-weight: normal;
    }

    .itemCategory {}

    .itemPrice {
        float: right;
    }

    .itemPrice small {
        font-size: 0.65rem;
    }

    /* Cart Item Left */
    .cart-main-card {
        padding: 10px 15px;
        overflow: hidden;
        background-color: rgb(49, 55, 84);
        margin-bottom: 1px !important;
    }

    .cart-item-header {}

    .cart-item-header h3 {
        padding: 10px 5px;
        font-size: 1rem
    }

    .cart-item-header h3 button {
        display: inline-block !important;
    }

    .cart-item-name {
        width: 41%;
        overflow: hidden;
        float: left;
        padding-top: 12px;
    }

    .cart-item-name p {
        text-align: left;
        margin: 0;
        color: white;
    }

    /* Cart Actions */

    .cart-actions {
        overflow: hidden;
        padding: 5px;
        display: inline-block !important;
        float: right;

    }

    .btn_minus,
    .btn_amount,
    .pay-bg {
        background-color: rgb(49, 55, 84);
        border: 1px transparent;
    }

    .btn_minus:hover,
    .btn-digit,
    .bottom-pay-card {
        background-color: rgb(27, 31, 50);
    }

    .btn_qty {
        background-color: rgb(74, 145, 72);
        border: 1px transparent;
        font-size: 1rem;
        font-weight: 900;

    }

    .btn_plus,
    .btn-lg-pay {
        background-color: rgb(97, 68, 177);
        border: 1px transparent;
    }

    .btn_plus:hover {
        background-color: rgb(97, 68, 177) !important;

    }

    .cart-actions button {
        display: inline-block !important;
        margin-left: 6px;
    }

    .cart-collapse-btn {
        background-color: rgba(48, 125, 246) !important;
        color: #fff;
        border-radius: 10px;
        margin-right: 12px;
    }

    /* Cart-groups */

    .cart-inside-group {
        overflow: hidden;
        padding-left: 9px;
    }

    .cart-inside-group h4 {}

    .cart-group-products {
        line-height: 27px;
        display: block;
        margin-bottom: 20px;
    }

    .cart-group-products label {
        font-size: 0.88rem
    }

    .cart-inside-group div label input {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        padding: 10px;
        margin-right: 11px;
        margin-left: 5px;
    }



    /* Cart Footer */

    .cart-footer-buttons {
        display: grid;
        grid-template-columns: 2fr 5fr 1.2fr;
        width: 100%;


    }

    /* .cart-bottom-actions {
        position: fixed;
        bottom: 0;
        grid-template-columns: 152px 295px 50px;
    } */

    .cart-footer {
        margin-top: 0;
        font-size: 24px;
    }

    .cart-delivery-option {}

    .cart-delivery-option div {
        width: 100%;
    }

    .cart-delivery-option div button {
        margin: 0;
        padding: 9px 18px;
        width: 100%;
    }

    .cart-delivery-option select {}

    .cart-delivery-option select option {}

    .button-inside {
        background-color: rgb(135, 104, 207);
        color: #ffffff;
        border: none;
        border-radius: 0px;
        padding: 4px 20px;
        font-weight: 600;
        font-size: 1.7rem;
    }

    .dropdown-menu {
        background: rgb(49, 44, 84);
        border-radius: 0;
        --bs-dropdown-min-width: 7.12rem;
    }

    .dropdown-menu>.dropdown-item {
        font-size: 0.7rem;
        color: #ffffff;
        padding: 14px 0 !important;
        text-align: center;
    }

    .dropdown-item:last-child {
        background-color: rgb(70, 48, 131);
    }

    .dropdown-item:hover {
        background-color: rgb(70, 48, 131);
    }



    .cart-total-parent {
        background: rgb(70, 48, 131);
        text-align: center;
        color: #fff;
        padding: 4px 20px;
        font-size: 1.7rem;
        font-weight: 600;
    }



    .cart-note {}

    .cart-note button {}

    .cart-note button img {
        transform: scale(0.6);
    }

    .button-note {
        font-size: 1.5rem;
        border: 0;
    }

    .cart-note button {
        background-color: rgb(49, 55, 84);
        height: 100%;
        width: 100%;
    }

    .cart-note button {}

    .cart-note button i {}


    /* Sale Saving Actions */
    .saleItemActions {
        /* position: absolute;
        bottom: 0; */
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 3px;
    }

    .saleItemActions>div {
        width: 100%;
        border-radius: 10px;
    }

    .saleItemActions a {
        font-size: 0.9rem;
        font-weight: 600;
        padding: 14px 1.15rem;
        color: white;
        /* width: 100%; */
    }

    .pos-icon {
        height: 1.5rem;
        width: 1.5rem;
    }

    .btn_select_table,
    .btn_order {
        background-color: rgb(59, 120, 122) !important;
        border: 1px transparent;
    }

    .btn_waiter {
        background-color: rgb(201, 152, 2) !important;
        border: 1px transparent;
    }

    .btn_clear_cart {
        background-color: rgb(166, 53, 58) !important;
        border: 1px transparent;
    }

    .btn_active_order {
        background-color: rgb(74, 145, 72) !important;
        border: 1px transparent;
    }

    .btn_invoice_order {
        background-color: rgb(22, 130, 108) !important;
        border: 1px transparent;
    }

    .btn_print_order {
        background-color: rgb(48, 125, 246) !important;
        border: 1px transparent;
    }

    .btn_success {
        background-color: rgb(0, 123, 33);
    }

    .btn_paid,
    .top-pay-card-right {
        background-color: rgb(135, 104, 207);
    }

    /*---------------------------------------
    ----------  Style Save Order ------------
    -----------------------------------------*/
    .orderBoxParent,
    .employeeSection {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        color: white;
        gap: .5rem .7rem;
    }

    .orderBoxItem,
    .employeeInfoCard {
        background-color: rgb(27, 31, 50);
        padding: 30px 15px;
        border-radius: 25px;

    }

    .order-state,
    .employeeInfo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .order-state-title,
    .order-state-bill,
    .employee-name,
    .employee-desig {
        border-radius: 15px;
        text-align: center;
        padding: 3px 5px;
        font-size: .8rem;

    }

    .order-state-title,
    .employee-name {
        width: 60%;
    }

    .order-state-bill,
    .employee-desig {
        width: 35%;
    }

    .order-details>p,
    .login-details>p {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
    }

    /*------------------------
    --- Table Section ---
    ------------------ */
    .table_section {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 1fr);
        background-color: rgb(27, 31, 50);
        gap: .2rem;
        border-radius: 30px;
    }

    .tables {
        background-color: rgb(49, 55, 84);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        /* width:8vw; */
        height: 7vw;
    }

    .table-num {
        font-weight: 400;
        font-size: 1.2rem;
    }

    .customer-num {
        font-size: 1rem;
    }

    /* -----------------------------
    ---------payment section---------
    --------------------------------- */

    .payment-display-section {
        text-align: center;
        color: #ffffff;
        margin-right: 4px;
        padding: 0;

    }

    .payment-display-section {
        padding: 0px;
    }

    .payment-display-section .col-4{
        
        padding: 0;
    }

    .payment-display-section .col-4 .card {
        margin: 1px;
    }

    .p-display-text {
        display: flex;
        flex-direction: column;
        padding-top: 1.4rem;
        padding-bottom: 1.2rem;

    }

    .display-amount {
        padding-bottom: 1rem;
    }

    .p-display-text>span {
        font-weight: 650;
    }

    .bottom-pay-card .display-4 {
        font-size: 3rem;
        color: rgb(211, 152, 0);
    }
        .bottom-pay-card .display-6{
            font-size: 2.5rem;
        }

    /* payment calc section */

    .button-basic {
        padding: 0;
    }

    .button-basic input {
        width: calc(100% - 2px);
        font-size: 2.8rem;
        font-weight: 700;
        text-align: center;
        border-radius: 8px;
        border: none;
    }

    .calc-text-box {
        margin-bottom: 5px;
    }

    .btn-digit {
        width: 10vh;
        height: 10vh;
    }

    .button-calc-right {
        height: 9.8vh;
    }

    .button-basic input[type="text"]:focus {
        color: #ffffff;
    }

    .btn-bottom {
        height: 9vh !important;
    }

    .calc-text-field {
        height: 9vh !important;
        font-size: 2rem !important;
    }



    .btn-card,
    .top-pay-card-left {
        background-color: rgb(52, 37, 115);
    }

    .btn-cash,
    .top-pay-card-middle {
        background-color: rgb(97, 68, 177);
    }

    .txt-sm {
        font-size: 1.8rem !important;
    }